$min-width: 320px; 
$max-width: 1920px; 
$base-bg: #FFF; 
$base-font-size: 13px; 
$base-line-height: 18px; 
$addition-font-family: "PTSansBold", sans-serif; 
$custom-font-family: 'PTSansRegular', sans-serif; 
$link-color: rgb(0, 72, 121);
$custom-color: #3f51b5;
$default-transition:all 0.2s linear;



