@font-face {
	font-family: 'PTSansBold';
	src: url('../../fonts/PTSansBold/PTSansBold.eot');
	src: url('../../fonts/PTSansBold/PTSansBold.eot?#iefix') format('embedded-opentype'), url('../../fonts/PTSansBold/PTSansBold.woff') format('woff'), url('../../fonts/PTSansBold/PTSansBold.ttf') format('truetype'), url('../../fonts/PTSansBold/PTSansBold.svg#PTSansBold') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'PTSansRegular';
	src: url('../../fonts/PTSansRegular/PTSansRegular.eot');
	src: url('../../fonts/PTSansRegular/PTSansRegular.eot?#iefix') format('embedded-opentype'), url('../../fonts/PTSansRegular/PTSansRegular.woff') format('woff'), url('../../fonts/PTSansRegular/PTSansRegular.ttf') format('truetype'), url('../../fonts/PTSansRegular/PTSansRegular.svg#PTSansRegular') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}
