.logo {
    &__link {
        color: #fff;
        font-family: $addition-font-family;
    }
    &__link--footer {
        color: #fff;
        font-size: 1rem;
    }

    @media screen and (min-width: 320px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: block;
        font-size: 1.5rem;
    }
    @media screen and (min-width: 992px) {
        display: block;
        font-size: 2rem;
    }
    
}